*.iml
.gradle/
/local.properties
.idea/
.DS_Store
/build
/app/build/
/captures
*.apk
*.ap_
*.dex
*.jks
*.keystore
keystore.properties
*.aab
*.hprof
.cxx/
.externalNativeBuild/
.kotlin/
build-local.log
